* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

h1, h2, h3, h4 {
    text-align: center;
    margin: 5px;
}

.inputFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 2px 3px 4px rgba(47, 45, 45, 0.4);
}

.inputForm label {
    position: relative;
    left: 0;
    width: 100px;
    margin: 5px;
    text-align: left;
 
}

.inputForm input {
    margin: 5px;
}

.inputForm div {
    width: 220px;
    border-radius: 5px;
}

.inputForm button {
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    min-width: 80px;
    height: 40px;
    transition: .5s;
    transform: scale(.9);
}

.inputForm button:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ff1010;
}

.inputForm button:hover {
  color: #1024ff;
  box-shadow: 0 0 5px #ff1030;
  text-shadow: 0 0 5px #ff1054;
}

.appHeader {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 5px;
    background-color: white;
}

.profile {
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 2px grey;
}

.userResultTable {
    list-style-type: none;
}

.userCard {
    display: flex;
    flex-direction: row;
    justify-content:first baseline;
    align-items: center;
    cursor: pointer;
    width: 500px;
    border: 1px solid black;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px grey;
}

.userCard p {
    position: relative;
    top: 10%;
    font-size: 25px;
    margin-left: 15px;
}

.userCard img {
    border: solid black 1px;
    margin: 5px;    
    border-radius: 5px;
}

.logOutButton {
    background-color: black;
    color: white;
    cursor: pointer;
    margin-bottom: 2px;
    border-radius: 5px;
}

.leftHeaderFlex {
    display: flex;
    flex-direction: row;
    justify-content:first baseline;
}

.rightHeaderFlex {
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    min-height: 100px;
    width: 90px;
}

.rightHeaderFlex button{
    height: 100%;
    width: 100%;
}

.otherProfile {
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 2px grey;
}

.otherProfileFlex {
    display: flex;
    flex-direction: row;
    justify-content:first baseline;
    align-items: center;
    margin: 10px;
}

.otherProfile img{
   border-radius: 10px;
   border-radius: 1px dotted black;
}

.otherProfile p {
    margin-left: 20px;
    font-style: italic;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.leftProfilePart {
    width: 300px;
    height: 300px;
    margin-right: 100px;
}

.leftProfilePart button{
    width: 100%;
    height: 100%;
}

.rightProfilePart {
   display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.uploaderForm {
    position: fixed;
    border: 1px solid black;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    margin: 20px;
    padding: 10px;
    z-index: 150;
    transition: all 1000ms ease-out;
    left: 30%;
    top: 20%;
}

.uploaderForm > * {
    margin: 10px;
}

.greyBackground {
    position: fixed;
    z-index: 100;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 1000ms ease-out;
}

.closeButton {
    cursor: pointer;
    text-align: right;
    font-size: 35px;
}

.friendship_button {
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    transition: .5s;
    transform: scale(.9);
}

.friendship_button:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ff1010;
}

.friendship_button:hover {
  color: #1024ff;
  box-shadow: 0 0 5px #ff1030;
  text-shadow: 0 0 5px #ff1054;
}
